@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?7186512');
  src: url('../font/fontello.eot?7186512#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?7186512') format('woff'),
       url('../font/fontello.ttf?7186512') format('truetype'),
       url('../font/fontello.svg?7186512#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?7186512#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail-alt:before { content: '\e817'; } /* 'î —' */
.icon-beaker:before { content: '\e811'; } /* 'î ‘' */
.icon-mail:before { content: '\e804'; } /* 'î „' */
.icon-menu:before { content: '\e816'; } /* 'î –' */
.icon-print:before { content: '\e805'; } /* 'î …' */
.icon-location:before { content: '\e807'; } /* 'î ‡' */
.icon-phone:before { content: '\e806'; } /* 'î †' */
.icon-down-open-big:before { content: '\e815'; } /* 'î •' */
.icon-up-open-big:before { content: '\e818'; } /* 'î ˜' */
.icon-paper-plane:before { content: '\e812'; } /* 'î ’' */
.icon-vimeo:before { content: '\e80e'; } /* 'î Ž' */
.icon-twitter-1:before { content: '\e808'; } /* 'î ˆ' */
.icon-quote-right:before { content: '\e814'; } /* 'î ”' */
.icon-gplus:before { content: '\e80a'; } /* 'î Š' */
.icon-pinterest:before { content: '\e80b'; } /* 'î ‹' */
.icon-linkedin:before { content: '\e80d'; } /* 'î ' */
.icon-dribbble:before { content: '\e80c'; } /* 'î Œ' */
.icon-clock-1:before { content: '\e800'; } /* 'î €' */
.icon-quote-right-alt:before { content: '\e813'; } /* 'î “' */
.icon-clock:before { content: '\e801'; } /* 'î ' */
.icon-clock-2:before { content: '\e802'; } /* 'î ‚' */
.icon-clock-3:before { content: '\e803'; } /* 'î ƒ' */
.icon-pencil:before { content: '\e810'; } /* 'î ' */
.icon-desktop:before { content: '\e80f'; } /* 'î ' */
.icon-facebook:before { content: '\e809'; } /* 'î ‰' */